<body>

    <%= eroare%>
    
        <form  method = "POST" action = "verificare-autentificare">
            Username: <input type="text" name="username" placeholder="Enter username" required>
            <br> <br>
            Password: <input type = "password" name = "pass" placeholder="Enter password" required>

            <br><br>
            <input type="submit" value="Login" >
        </form>
        <a href ='/'>Home</a>

        <p1>
           
        </p1>
</body>

