<!DOCTYPE html>

<html lang="en">
    
    <div style="background-image: url(/imagini/background.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
        
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Magazin de jucarii</title>
    
</head>
<body>
    <div class = "border" style="background-color: #ffeb44; margin-top: -50px; margin-left: 10%; margin-right: 10%;">
        <header>

            <h1> 
                <div>
                    <p1>    <a href = '/'>
                        <img src = "/imagini/banner2.jpg" width="100%" height = "340" >
                    </a></p1>
                </div>
            </h1>

            <nav style="margin-left: 90px; margin-right: 90px; padding-bottom: 20px;">


               
                <p1> <a style="margin-left: 45%; text-decoration: none; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: large;" href = '/chestionar'>Chestionar</a></p1>
                
            </nav>
        </div>
        <div style="background-color: rgb(156, 193, 228); height: 100%; border-style: groove;margin-left: 10%; margin-right: 10%;">
            <div style="margin-left: 90px; padding-bottom: 20px;">
                <br>
            <h1><%- body %> </h1>
         </div>
        </div>

        </header>
   
</body>
<footer style = "background-color: #d3ec7a; margin-top: -8px; margin-bottom: -10px;margin-left: 10%; margin-right: 10%;">
    <hr>
        <h3 style = "text-align: center;">Copyright &#169; Alexandru Stefan-Albert</h3>
    <hr>

</footer>
</div>
</html>
